spring:
  application:
    name: hotel-reservations-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/hotel_reservations_dev # rodar sem docker e sem seed
    username: hotel_reservations_dev_app
    password: ${HOTEL_RESERVATIONS_DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariPool
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      validation-timeout: 5000
      auto-commit: true

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: America/Sao_Paulo

  flyway:
    enabled: false
    locations:
      - classpath:db/migration
    baseline-on-migrate: false

  lifecycle:
    timeout-per-shutdown-phase: 20s

  web:
    error:
      include-message: never
      include-binding-errors: never
      include-exception: false
      include-stacktrace: never

server:
  port: 8080
  shutdown: graceful
  forward-headers-strategy: framework
  compression:
    enabled: true

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  info:
    env:
      enabled: true

info:
  app:
    name: ${spring.application.name}
    version: ${APP_VERSION:dev}

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN

springdoc:
  api-docs:
    path: /api-doc/docs
  swagger-ui:
    path: /swagger
    operationsSorter: method
    tagsSorter: alpha
    displayRequestDuration: true
    docExpansion: none
    filter: true

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://localhost:5173}
  seed:
    enabled: false

jwt:
  secret: ${JWT_SECRET} # Placeholder
  expiration: ${JWT_EXPIRATION_MS:86400000} # 24 horas em milissegundos
